// Import page-specific CSS files here.
@import "home";

.flexbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  grid-gap: 16px;
  justify-self: auto;
  padding-top: 1em;
}

.card_img {
  width: 100%;
  padding: 4px;
}

.text_display {
  margin-left: 4px;
  margin-right: 4px;
}
