<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://magazine.chrono24.com/cdn-cgi/image/f=auto,metadata=none,fit=cover,q=65,w=1190,h=595,dpr=2.0/2023/01/Rolex-Datejust-under-the-radar-2-1.jpg);">
  <h1>Cocowatch</h1>
  <p>Change and discover the beauty of time.</p>
  <div class="row position mt-5">
      <div>
        <%= form_with url: watches_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control searchbar_placeholder_border col--2",
                placeholder: "Find a watch"%>
          <%= submit_tag "Find a co-watcher", name: "", class: "btn btn-dark  searchbar_btn_border" %>
        <% end %>
      </div>
    </div>
</div>
<!-- Fin de la banner -->
<div class="container">
  <div class="row mt-3">
    <div class="col-6 gx-3">
      <div class="card-trip">
        <div class="card-trip-infos">
        <h2>Rent <strong>someone</strong> watch</h2>
            <ul>
            <li><i class="fas fa-search"></i> Discover a large range of fabulous watches near you</li>
            <li><i class="fas fa-user-friends"></i> Rent from passionate owner</li>
            <li><i class="fas fa-clock"></i> From iconic little budget watches to big occasion one</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-6 gx-3">
      <div class="card-trip">
        <div class="card-trip-infos">
            <h2>Rent <strong>your</strong> watch</h2>
            <ul>
            <li><i class="fas fa-shield-alt"></i> Rent your watch hassle-free with our special insurance policy</li>
            <li><i class="fas fa-dollar-sign"></i> Generate income with your watch collection</li>
            <li><i class="fas fa-heart"></i> Meet and share your passion with other passionate people</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
<div id="carouselExampleControls" class="carousel slide my-4" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.iguanasell.fr/cdn/shop/articles/Portada-Blog_3f8866fa-da80-4acf-8bae-936ff468d052_1800x.jpg?v=1631720095" class="d-block w-100" alt="First slide">
    </div>
    <div class="carousel-item">
      <img src="https://media.gqmagazine.fr/photos/63a2f29c16703168d638c954/16:9/w_2240,c_limit/Montage_Montres.jpg" class="d-block w-100" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img src="https://media.gqmagazine.fr/photos/5f04817d83548f5bbff4eb86/16:9/w_2240,c_limit/K10-06-BR03-diver-full-lum-eau.jpg-1600px.JPG" class="d-block w-100" alt="Third slide">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
