h3 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
  width: 100%;
}

.justify-cards {
  justify-content: space-around;
  margin-top: 1em;
}

.fas {
  font-size: 20px;
  color: rgb(36, 36, 36);
}

.card-body {
  padding: 0;
}

.card-img-top {
  border-radius: 4px 4px 0 0;
}

.card-info {
  margin: 1em;
}

.card-text {
  color: darkgray;
  font-size: small;
}

.card {
  margin-bottom: 2em;
}
