.card {
  border: 0;
  border-radius: 4px;
  position: relative;

  .card_img {
    padding: 0;
    border-radius: 4px 4px 0 0;
  }

  .text_brand {
    color: black;
  }

  .text_model {
    color: black;
  }

  .price-style {
    margin-left: auto;
    padding-right: 0.5em;
    color: darkgray;
    font-size: small;
  }

  .location {
    font-size: x-small;
    color: grey;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .avatar {
    position:absolute;
    right: 0;
    margin-right: 4px;
    top: 7em;
  }
}
