.searchbar_placeholder_border {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 395px
}

.searchbar_btn_border {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
