.watch-card-container {
  display: flex;
  background-color: black;
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 4px;
  margin-right: 3em;
  margin-left: 3em;
  padding: 2em;

  .form-book {
    margin-left: auto;
    padding: 2em;
    background-color: rgb(25, 25, 25);
    border-radius: 4px;
  }

  .watch-title {
    display: flex;
    align-items: flex-end;
    padding-top: 2em;
    margin-bottom: 1em;
    border-bottom: solid white 1px;

  }

  .watch-title p {
    margin-bottom: 11px;
    margin-left: 1em;
  }

}

.watch-card {
  width: 70%;
}

.watch-price {
  margin-top: auto;
  float: inline-end;
  padding-right: 1em;
}
.form-actions {
  background-color: lightgrey;
  color: white;
}





// .container .watch-info {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .btn-book {
//   align-items: start;
// }
