.container-1 {
  display: flex;
  background-color: #F4F4F4;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 4px;
  margin-right: 3em;
  margin-left: 3em;

  .form-book {
    margin-left: auto;
    padding-top: 3em;
  }

  .watch-title {
    display: flex;
    align-items: flex-end;
    padding-top: 2em;
  }

  .watch-title p {
    margin-bottom: 11px;
    margin-left: 1em;
  }

  .watch-description {
   margin-left: 2em;
  }
}

.watch-card {
  width: 70%;
}

.form-actions {
  background-color: lightgrey;
  color: white;
}

.watch-price {
  margin-left: auto;
}




// .container .watch-info {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .btn-book {
//   align-items: start;
// }
